<!DOCTYPE html>
<html>
  <head>
    <title>Image Lookup</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Welcome!
    </h1>
    <h2>
      This is a simple image-search engine
    </h2>
    <h3>
      Usage Example:
    </h3>
    <h4>
      Input
    </h4>
    <code class="code">https://image-lookup.glitch.me/&ltyour-search-term&gt</code><br><br>
    <code class="code">https://image-lookup.glitch.me/recent</code>
    <h4>
      Output (respectively)
    </h4>
    <div class="block">
      <code>
            [<br>
            &nbsp;&nbsp;{<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"url": url,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"thumbnail": thumbnail,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"snippet": alt-text,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"context": context-url<br>
            &nbsp;&nbsp;},<br>
            &nbsp;&nbsp;...<br>
            ]<br>
      </code>
    </div>
    <br>
    <div class="block">
      <code>
            [<br>
            &nbsp;&nbsp;{<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"term": term,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;"when": "2017-10-23T22:03:34.764Z"<br>
            &nbsp;&nbsp;}<br>
            ]
      </code>
    </div>
    <img src="https://cdn.glitch.com/d42aa5f1-8b66-49cb-afdc-cd7405811570%2Fkitten.png?1508795537171">
  </body>
</html>